div#iza-sdg-app {
    h1, h2, h3, h4, h5, h6 {
        padding-bottom: 10px;
        color: #333;
        font-weight: 500;
        line-height: 1em;
    }

    h2 {
        font-size: 28px;
    }

    a {
        color: #2ea3f2;
        text-decoration: none;
    }

    p, ol, ul {
        padding-bottom: 1em;
    }

    p:last-of-type {
        padding-bottom: 0;
    }

    ol, ul {
        list-style: none;
    }

    ul {
        padding: 0 0 23px 1em;
        line-height: 26px;
        list-style-type: disc;
    }
}